<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <h1>Available Books</h1>

    {% for book in books %}
        <div style="border:1px solid #f56161; padding:10px; margin-bottom:10px;">
            {% if book.cover_image %}
            <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" width="120" height="160"><br>
            {% else %}
                <p>No Image Available</p>
            {% endif %}

            <h2>{{ book.title }}</h2>
            <p><strong>Author:</strong> {{ book.author }}</p>
            <p><strong>Price:</strong> ₹{{ book.price }}</p>
            <p><strong>Language:</strong> {{ book.get_language_display }}</p>
            
            <p>
                {#<a href="{% url 'add_to_cart' book.id %}">Add to Cart</a> #}
                
            </p>
        </div>
    {% empty %}
        <p>No books available.</p>
    {% endfor %}
</body>
</html>  